/*regole generali*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}

body {
    font-family:  Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-width: 1000px;
}

.button-style{
    border-radius: 26px;
    border:none;
    background-color: white;
    color: black;
}

#header-buttons-container {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
}

h1 {
    font-size: 50px;
    margin-bottom: 55px;
}

h2 {
    font-size: 49px;
    margin-bottom: 25px;
}

main p {
    font-size: 20px;
    line-height: 30px;
}

footer {
    background-color: #23272A;
}

/*regole header*/
#header-nav-back {
    background-color: #3160E0;
}

#header-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 70%;
    margin:0 auto;
}

#login-button {
    padding: 8px;
    border-radius: 26px;
    border: none;
}

.download-button {
    padding: 15px;
    border-top: 10px;
    font-size: 20px;
    background-color: white;
    color: black;
}

#browser-open-button {
    background-color: black;
    color: white;
    padding: 15px;
    border-top: 10px;
    font-size: 20px;
}

/*formattazione link header */
ul {
    display: flex;
    list-style-type: none;
}

li {
    padding: 40px;
}

a {
    color: white;
    text-decoration: none;
}

#header-img-back {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    height: 422px;
}

#header-img-container {
    width: 46%;
    margin:0 auto; 
    color: white;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 62px;
}

#text-container {
    padding-bottom: 30px;
}

/*sezione principale*/
.white-back{
    display: flex;
    align-items: center;
    /*centralizza*/
    padding-top:80px;
    padding-bottom: 90px;
}

#final-main-div {
    display: flex;
    flex-direction: column;
    padding: 30px;
    font-size: 37px;
}


main a{
    margin: 0 auto;
}

.final-main-div{
    /*rinomina*/
    margin-top: 30px;
    color: white;
    padding: 15px;
    background-color: #8FA2E5;
}

/*regole sezione invito */
.main-sect-container {
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.main-sect-img {
    width: 60%;
    margin-left:34px;
}

.main-sect-text {
    width: 30%;
    margin-left: 141px;
    margin-top: 33px;
}

/*regole sezione trovarsi */
.gray-back {
    display: flex;
    align-items: center;
    background-color: #D3D3D3;
    padding-top:80px;
    padding-bottom: 90px;
}

/*regole sezione tecnologia */
#gray-back-large {
    display: flex;
    align-items: center;
    background-color: #D3D3D3;
    padding-top:60px;
    padding-bottom: 60px;
}

#tech-sect-container {
    margin: 0 auto;
    text-align: center;
    width: 75%;
    padding-top:80px;
    padding-bottom: 80px;
}

#stars-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

#stars-div img {
    height: 59px;
}

#big-pic {
    width: 100%;
}

/*regole piè di pagina */
#footer-columns-container {  
    border-bottom: 3px solid #979B9E;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    background-color: #23272A;
    width: 80%;
    margin: auto;
}
#footer-container {
    padding-top: 50px;
    height: 120%;
}

h3 {
    color: #718BD8;
}

footer span  {
    color: white;
}

#large-col {
    width: 18%;
}
.regular-col {
    display: flex;
    flex-direction: column;
    width: 14%;
}

.regular-col * {
    padding-top: 20px;
}

#large-col h3, i{
    padding-bottom: 30px;
}

/*regole sezione registrazione*/
#register-section-content {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

#register-section-container {
    background-color: #23272A;
    height: 18%;
}

footer i {
    color: white;
    height: 50px;
    width: 50px;
}

footer h3 {
    font-size: 32px;
}

footer h4 {
    color: #718BD8;
    font-size: 20px;
}

footer img {
    height:15px;
    width: 15px;
}

#register-section-container img {
    height: 90px;
    width: 90px;
}

#register-section-container button {
    background-color: #8FA2E5;
    color: white;
    padding: 15px;      
}

#social-div {
    margin-top: 30px;
}
